In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sklearn as sk

In [3]:
spotify=pd.read_csv('spotify_weekly_chart.csv')

In [4]:
spotify

,Pos,P+,Artist,Title,Wks,Pk,(x?),Streams,Streams+,Total
0,1,=,SZA,Kill Bill,5,1,(x2),47288509,5814143.0,208044297
1,2,+3,Metro Boomin,Creepin',6,2,(x1),30753658,2661426.0,184223144
2,3,-1,Sam Smith,Unholy,16,1,(x7),30733283,-2398892.0,673533882
3,4,-1,Harry Styles,As It Was,41,1,(x11),28522200,-2475884.0,1747957886
4,5,-1,David Guetta,I'm Good (Blue),20,2,(x4),27260313,-3443943.0,568898155
...,...,...,...,...,...,...,...,...,...,...
195,196,NEW,PinkPantheress,Boy's a liar,1,196,NaN,6764722,NaN,6764722
196,197,-8,Pritam,Kesariya,11,71,NaN,6739427,-101231.0,84426152
197,198,RE,Hozier,Take Me To Church,202,1,(x5),6717421,NaN,1058553367
198,199,NEW,MC K.K,Agudo Mágico 3,1,199,NaN,6713237,NaN,6713237
199,200,RE,Maroon 5,Payphone,50,70,NaN,6713045,NaN,320478893

In [5]:
spotify.describe()

,Pos,Wks,Pk,Streams,Streams+,Total
count,200.000000,200.000000,200.000000,2.000000e+02,1.820000e+02,2.000000e+02
mean,100.500000,46.915000,40.395000,1.109910e+07,1.495678e+05,4.958258e+08
std,57.879185,62.280108,43.894792,5.553110e+06,1.418367e+06,6.056621e+08
min,1.000000,1.000000,1.000000,6.713045e+06,-3.443943e+06,6.713237e+06
25%,50.750000,9.750000,6.000000,7.720350e+06,-3.882400e+05,1.034072e+08
50%,100.500000,24.000000,23.000000,8.816404e+06,1.653155e+05,2.658862e+08
75%,150.250000,59.250000,64.000000,1.335638e+07,5.566680e+05,6.465569e+08
max,200.000000,310.000000,199.000000,4.728851e+07,7.621342e+06,3.291327e+09

In [6]:
spotify['Artist'].count()

200

In [7]:
spotify.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pos       200 non-null    int64
 1   P+        200 non-null    object
 2   Artist    200 non-null    object
 3   Title     200 non-null    object
 4   Wks       200 non-null    int64
 5   Pk        200 non-null    int64
 6   (x?)      36 non-null     object
 7   Streams   200 non-null    int64
 8   Streams+  182 non-null    float64
 9   Total     200 non-null    int64
dtypes: float64(1), int64(5), object(4)
memory usage: 15.8+ KB

In [8]:
spotify.describe()

,Pos,Wks,Pk,Streams,Streams+,Total
count,200.000000,200.000000,200.000000,2.000000e+02,1.820000e+02,2.000000e+02
mean,100.500000,46.915000,40.395000,1.109910e+07,1.495678e+05,4.958258e+08
std,57.879185,62.280108,43.894792,5.553110e+06,1.418367e+06,6.056621e+08
min,1.000000,1.000000,1.000000,6.713045e+06,-3.443943e+06,6.713237e+06
25%,50.750000,9.750000,6.000000,7.720350e+06,-3.882400e+05,1.034072e+08
50%,100.500000,24.000000,23.000000,8.816404e+06,1.653155e+05,2.658862e+08
75%,150.250000,59.250000,64.000000,1.335638e+07,5.566680e+05,6.465569e+08
max,200.000000,310.000000,199.000000,4.728851e+07,7.621342e+06,3.291327e+09

In [9]:
spotify.mean()

C:\Users\Terrie Ann\AppData\Local\Temp\ipykernel_13832\2211366431.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  spotify.mean()

Pos         1.005000e+02
Wks         4.691500e+01
Pk          4.039500e+01
Streams     1.109910e+07
Streams+    1.495678e+05
Total       4.958258e+08
dtype: float64

In [10]:
spotify.mode()

,Pos,P+,Artist,Title,Wks,Pk,(x?),Streams,Streams+,Total
0,1,RE,The Weeknd,Calm Down,12.0,1.0,(x1),6713045,-3443943.0,6713237
1,2,NaN,NaN,Die For You,36.0,NaN,NaN,6713237,-2971282.0,6764722
2,3,NaN,NaN,Escapism.,NaN,NaN,NaN,6717421,-2741253.0,6885912
3,4,NaN,NaN,Shut up My Moms Calling,NaN,NaN,NaN,6739427,-2738675.0,7879026
4,5,NaN,NaN,Until I Found You,NaN,NaN,NaN,6764722,-2494755.0,8533272
...,...,...,...,...,...,...,...,...,...,...
195,196,NaN,NaN,NaN,NaN,NaN,NaN,27260313,NaN,2323864824
196,197,NaN,NaN,NaN,NaN,NaN,NaN,28522200,NaN,2432366466
197,198,NaN,NaN,NaN,NaN,NaN,NaN,30733283,NaN,2536275696
198,199,NaN,NaN,NaN,NaN,NaN,NaN,30753658,NaN,3234670723
199,200,NaN,NaN,NaN,NaN,NaN,NaN,47288509,NaN,3291327093

In [11]:
spotify.isnull().sum()

Pos           0
P+            0
Artist        0
Title         0
Wks           0
Pk            0
(x?)        164
Streams       0
Streams+     18
Total         0
dtype: int64

In [12]:
pd.read_csv('spotify_weekly_chart.csv')
#spotify=spotify.fillna(method='ffill')
spotify=spotify.ffill().bfill()
spotify1=spotify.to_csv('spotify_weekly_chart1.csv')

In [13]:
spotify.isnull().sum()

Pos         0
P+          0
Artist      0
Title       0
Wks         0
Pk          0
(x?)        0
Streams     0
Streams+    0
Total       0
dtype: int64

# DATA PREPROCESSING

In [14]:
#Extracting independent variables
x=spotify.iloc[:,2:4].values
x

array([['SZA ', 'Kill Bill'],
       ['Metro Boomin ', "Creepin'"],
       ['Sam Smith ', 'Unholy'],
       ['Harry Styles ', 'As It Was'],
       ['David Guetta ', "I'm Good (Blue)"],
       ['Manuel Turizo ', 'La Bachata'],
       ['Taylor Swift ', 'Anti'],
       ['Arcángel ', 'La Jumpa'],
       ['Bizarrap ', 'Quevedo: Bzrp Music Sessions, Vol. 52'],
       ['Stephen Sanchez ', 'Until I Found You'],
       ['NewJeans ', 'Ditto'],
       ['RAYE ', 'Escapism.'],
       ['Rema ', 'Calm Down'],
       ['JVKE ', 'golden hour'],
       ['Tom Odell ', 'Another Love'],
       ['Drake ', 'Rich Flex'],
       ['OneRepublic ', "I Ain't Worried"],
       ['Ozuna ', 'Hey Mor'],
       ['The Weeknd ', 'Die For You'],
       ['Meghan Trainor ', 'Made You Look'],
       ['Central Cee ', 'LET GO'],
       ['d4vd ', 'Here With Me'],
       ['Bad Bunny ', 'Me Porto Bonito'],
       ['Eminem ', 'Mockingbird'],
       ['Miguel ', 'Sure Thing'],
       ['Oliver Tree ', 'Miss You'],
       ['Ñengo Flow ', 'Gato de Noche'],
       ['Arctic Monkeys ', 'I Wanna Be Yours'],
       ['Bad Bunny ', 'Tití Me Preguntó'],
       ['NewJeans ', 'OMG'],
       ['Chris Brown ', 'Under The Influence'],
       ['d4vd ', 'Romantic Homicide'],
       ['Fuerza Regida ', 'Bebe Dame'],
       ['Steve Lacy ', 'Bad Habit'],
       ['The Neighbourhood ', 'Sweater Weather'],
       ['Rosa Linn ', 'SNAP'],
       ['ROSALÍA ', 'DESPECHÁ'],
       ['Lady Gaga ', 'Bloody Mary'],
       ['Bizarrap ', 'Shakira: Bzrp Music Sessions, Vol. 53'],
       ['King ', 'Maan Meri Jaan'],
       ['Bad Bunny ', 'Efecto'],
       ['Lil Uzi Vert ', 'Just Wanna Rock'],
       ['Metro Boomin ',
        'Superhero (Heroes & Villains) [with Future & Chris Brown]'],
       ['Imagine Dragons ', 'Bones'],
       ['Glass Animals ', 'Heat Waves'],
       ['Bad Bunny ', 'Ojitos Lindos'],
       ['SZA ', 'Nobody Gets Me'],
       ['Feid ', 'Feliz Cumpleaños Ferxxo'],
       ['The Weeknd ', 'Starboy'],
       ['The Kid LAROI ', 'Stay'],
       ['Beyoncé ', 'CUFF IT'],
       ['The Weeknd ', 'Blinding Lights'],
       ['Joji ', 'Glimpse of Us'],
       ['Yandel ', 'Yandel 150'],
       ['Marília Mendonça ', 'Leão'],
       ['Rauw Alejandro ', 'LOKERA'],
       ['SZA ', 'Shirt'],
       ['Quevedo ', 'Punto G'],
       ['Shakira ', 'Monotonía'],
       ['Carin Leon ', 'Que Vuelvas'],
       ['Bad Bunny ', 'Neverita'],
       ['Elton John ', 'Cold Heart'],
       ['The Weeknd ', 'I Was Never There'],
       ['Stephen Sanchez ', 'Until I Found You'],
       ['SZA ', 'Low'],
       ['LE SSERAFIM ', 'ANTIFRAGILE'],
       ['Tiësto ', '10:35'],
       ['Arctic Monkeys ', '505'],
       ['Ruth B. ', 'Dandelions'],
       ['Tory Lanez ', 'The Color Violet'],
       ['Fujii Kaze ', 'Shinunoga E'],
       ['ThxSoMch ', 'SPIT IN MY FACE!'],
       ['Grupo Frontera ', 'No Se Va'],
       ['Bad Bunny ', 'Moscow Mule'],
       ['Billie Eilish ', 'lovely'],
       ['Taylor Swift ', 'Lavender Haze'],
       ['Rema ', 'Calm Down'],
       ['NewJeans ', 'Hype Boy'],
       ['The Weeknd ', 'Call Out My Name'],
       ['BLACKPINK ', 'Shut Down'],
       ['Cris Mj ', 'Marisola'],
       ['Eminem ', 'Without Me'],
       ['KAROL G ', 'PROVENZA'],
       ['Harry Styles ', 'Late Night Talking'],
       ['Charlie Puth ', 'Left and Right (Feat. Jung Kook of BTS)'],
       ['Lil Nas X ', "STAR WALKIN' (League of Legends Worlds Anthem)"],
       ['Kordhell ', 'Murder In My Mind'],
       ['The Weeknd ', 'Save Your Tears'],
       ['Drake ', 'Jimmy Cooks'],
       ['Quevedo ', 'Vista Al Mar'],
       ['Hotel Ugly ', 'Shut up My Moms Calling'],
       ['Rihanna ', 'Lift Me Up'],
       ['Arijit Singh ', 'Apna Bana Le (From "Bhediya")'],
       ['KAROL G ', 'CAIRO'],
       ['Coldplay ', 'Yellow'],
       ['Taylor Swift ', 'Midnight Rain'],
       ['Zach Bryan ', 'Something in the Orange'],
       ['Lewis Capaldi ', 'Someone You Loved'],
       ['RAYE ', 'Escapism.'],
       ['J. Cole ', 'No Role Modelz'],
       ['Jung Kook ',
        'Dreamers [Music from the FIFA World Cup Qatar 2022 Official Soundtrack]'],
       ['Ed Sheeran ', 'Perfect'],
       ['Coldplay ', 'Viva La Vida'],
       ['INTERWORLD ', 'METAMORPHOSIS'],
       ['Wisin & Yandel ', 'Besos Moja2'],
       ['Cigarettes After Sex ', 'Apocalypse'],
       ['Rauw Alejandro ', 'PUNTO 40'],
       ['Eminem ', 'Superman'],
       ['Sia ', 'Unstoppable'],
       ['MC MENOR HR ', 'Evoque Prata'],
       ['Post Malone ', 'I Like You (A Happier Song)'],
       ['Israel & Rodolffo ', 'Bombonzinho'],
       ['Imagine Dragons ', 'Enemy'],
       ['Adele ', 'Easy On Me'],
       ['Harry Styles ', 'Watermelon Sugar'],
       ['Vance Joy ', 'Riptide'],
       ['Natanael Cano ', 'AMG'],
       ['Eminem ', 'The Real Slim Shady'],
       ['Beach House ', 'Space Song'],
       ['Dean Lewis ', 'How Do I Say Goodbye'],
       ['SZA ', 'Blind'],
       ['Arctic Monkeys ', 'Do I Wanna Know?'],
       ['Bruno Mars ', 'When I Was Your Man'],
       ['Nicky Youre ', 'Sunroof'],
       ['Steve Lacy ', 'Dark Red'],
       ['Beach Weather ', 'Sex, Drugs, Etc.'],
       ['Ed Sheeran ', 'Shivers'],
       ['Imagine Dragons ', 'Believer'],
       ['Feid ', 'CHORRITO PA LAS ANIMAS'],
       ['XXXTENTACION ', 'Revenge'],
       ['SZA ', 'Snooze'],
       ['Conan Gray ', 'Heather'],
       ['The Weeknd ', 'The Hills'],
       ['Joji ', 'Die For You'],
       ['Justin Bieber ', 'Ghost'],
       ['Central Cee ', 'Doja'],
       ['BLACKPINK ', 'Pink Venom'],
       ['Lizzo ', 'About Damn Time'],
       ['Billie Eilish ', 'TV'],
       ['Bellakath ', 'Gatita'],
       ['The Walters ', 'I Love You So'],
       ['Skrillex ', 'Rumble'],
       ['Macklemore & Ryan Lewis ', "Can't Hold Us"],
       ['One Direction ', 'Night Changes'],
       ['Metro Boomin ', 'Too Many Nights'],
       ['J Balvin ', 'LA CANCIÓN'],
       ['Arctic Monkeys ', "Why'd You Only Call Me When You're High?"],
       ['Lana Del Rey ', 'Summertime Sadness'],
       ['Metro Boomin ',
        'Niagara Falls (Foot or 2) [with Travis Scott & 21 Savage]'],
       ['The Weeknd ', 'Stargirl Interlude'],
       ['Taylor Swift ', 'Blank Space'],
       ['Calvin Harris ', 'One Kiss'],
       ['Bad Bunny ', 'Yonaguni'],
       ['Nicki Minaj ', 'Super Freaky Girl'],
       ['Yuridia ', 'Qué Agonía'],
       ['New West ', 'Those Eyes'],
       ['Elley Duhé ', 'MIDDLE OF THE NIGHT'],
       ['Future ', 'WAIT FOR U'],
       ['Lil Nas X ', 'INDUSTRY BABY'],
       ['Kate Bush ', 'Running Up That Hill (A Deal With God)'],
       ['Aerosmith ', 'Dream On'],
       ['Mr.Kitty ', 'After Dark'],
       ['Quevedo ', 'Playa Del Inglés'],
       ['Mora ', 'LA INOCENTE'],
       ['Gustavo Mioto ', 'Eu Gosto Assim'],
       ['OneRepublic ', 'Counting Stars'],
       ['The Weeknd ', 'Save Your Tears (Remix)'],
       ['Freddie Dredd ', 'Limbo'],
       ['Eminem ', 'Lose Yourself'],
       ['Sam Smith ', "I'm Not The Only One"],
       ['Coolio ', "Gangsta's Paradise"],
       ['Lost Frequencies ', 'Where Are You Now'],
       ['James Arthur ', "Say You Won't Let Go"],
       ['TWISTED ', 'WORTH NOTHING'],
       ['Ed Sheeran ', 'Bad Habits'],
       ['Kenshi Yonezu ', 'KICK BACK'],
       ['Keane ', 'Somewhere Only We Know'],
       ['Omar Apollo ', 'Evergreen'],
       ['Bruno Mars ', 'Locked Out Of Heaven'],
       ['Imagine Dragons ', 'Demons'],
       ['Feid ', 'Normal'],
       ['Seafret ', 'Atlantis'],
       ['SZA ', 'Good Days'],
       ['Post Malone ', 'Sunflower'],
       ['Ed Sheeran ', 'Shape of You'],
       ['Dua Lipa ', 'Levitating'],
       ['Doja Cat ', 'Woman'],
       ['Hotel Ugly ', 'Shut up My Moms Calling'],
       ['James Hype ', 'Ferrari'],
       ['Dua Lipa ', "Don't Start Now"],
       ['Shakira ', 'Te Felicito'],
       ['Coldplay ', 'My Universe'],
       ['Taylor Swift ', "You're On Your Own, Kid"],
       ['Taylor Swift ', 'Don’t Blame Me'],
       ['Tears For Fears ', 'Everybody Wants To Rule The World'],
       ['PinkPantheress ', "Boy's a liar"],
       ['Pritam ', 'Kesariya'],
       ['Hozier ', 'Take Me To Church'],
       ['MC K.K ', 'Agudo Mágico 3'],
       ['Maroon 5 ', 'Payphone']], dtype=object)

In [15]:
#extracting dependent variables
y=spotify.iloc[:,4:10]
y

     Wks   Pk   (x?)   Streams   Streams+       Total
0      5    1   (x2)  47288509  5814143.0   208044297
1      6    2   (x1)  30753658  2661426.0   184223144
2     16    1   (x7)  30733283 -2398892.0   673533882
3     41    1  (x11)  28522200 -2475884.0  1747957886
4     20    2   (x4)  27260313 -3443943.0   568898155
..   ...  ...    ...       ...        ...         ...
195    1  196   (x1)   6764722   -20896.0     6764722
196   11   71   (x1)   6739427  -101231.0    84426152
197  202    1   (x5)   6717421  -101231.0  1058553367
198    1  199   (x5)   6713237  -101231.0     6713237
199   50   70   (x5)   6713045  -101231.0   320478893

[200 rows x 6 columns]

# ONE HOT ENCODING

In [16]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [27]:
from sklearn.preprocessing import OneHotEncoder
#create an instance of the class
onehotencoder=OneHotEncoder()
onehotencode=onehotencoder.fit_transform(spotify['Artist'].array.reshape(-1,1))
Artist_num=pd.DataFrame(onehotencode.toarray(),columns=onehotencoder.get_feature_names_out())

In [54]:
Artist_num.to_csv("spotify_encoded2.csv",index=False)

In [47]:
from sklearn.preprocessing import OneHotEncoder
#create an instance of the class
onehotencoder=OneHotEncoder()
onehotencode=onehotencoder.fit_transform(spotify['Title'].array.reshape(-1,1))
Title_num=pd.DataFrame(onehotencode.toarray(),columns=onehotencoder.get_feature_names_out())

In [49]:
Title_num.to_csv("spotify_encoded1.csv",index=False)

In [50]:
sm=pd.read_csv("spotify_encoded1.csv")

In [52]:
sm.describe()

,x0_10:35,x0_505,x0_AMG,x0_ANTIFRAGILE,x0_About Damn Time,x0_After Dark,x0_Agudo Mágico 3,x0_Another Love,x0_Anti,"x0_Apna Bana Le (From ""Bhediya"")",...,x0_Where Are You Now,x0_Why'd You Only Call Me When You're High?,x0_Without Me,x0_Woman,x0_Yandel 150,x0_Yellow,x0_Yonaguni,"x0_You're On Your Own, Kid",x0_golden hour,x0_lovely
count,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,...,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,0.005000,0.005000,0.005000,0.005000,0.005000,0.005000,0.005000,0.005000,0.005000,0.005000,...,0.005000,0.005000,0.005000,0.005000,0.005000,0.005000,0.005000,0.005000,0.005000,0.005000
std,0.070711,0.070711,0.070711,0.070711,0.070711,0.070711,0.070711,0.070711,0.070711,0.070711,...,0.070711,0.070711,0.070711,0.070711,0.070711,0.070711,0.070711,0.070711,0.070711,0.070711
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [56]:
sm=pd.read_csv("spotify_encoded2.csv")

In [20]:
x_train,x_test,y_train,y_test=train_test_split(x,y)

In [21]:
#Display the shape
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(150, 2)
(50, 2)
(150, 6)
(50, 6)

In [22]:
#specifying the split size by using test_size
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [23]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(140, 2)
(60, 2)
(140, 6)
(60, 6)

In [24]:
#specify the random state
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

# MACHINE LEARNING MODEL

In [25]:
#Linear regression
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()